debug: false
startup: false
log:
  level: debug
douyu:
  room: 9999
  did: xxx
  stk: xxx
  uid: xxx
  ltkid: xxx
  username: xxx
  ltp0: xxx
  stick:
    remaining: 9999
dingtalk:
  token: xxx
  secret: xxx
telegram:
  token: xxx
  chat_id: xxx
cron:
  refresh: "0 0 1 * * *"
  send_gift: "0 0 12 * * 0"
