debug: false
startup: false
log:
  level: debug
douyu:
  did: abc
  uid: 123
  auth: xyz
  ltp0: asd
  stick:
    remaining: 9999
dingtalk:
  token: qwe
  secret: zxc
telegram:
  token: okm
  chat_id: 123
cron:
  refresh: "0 0 1 * * *"
  send_gift: "0 0 12 * * 0"
